.gsm_unregistered {
    background: blue;
    box-shadow: 0 0 5px 2px blue;
}
.gsm_registered_home {
    background: lightskyblue;
    box-shadow: 0 0 5px 2px blue;
}
.gsm_search {
    background: blueviolet;
    box-shadow: 0 0 5px 2px blue;
}
.gsm_registration_locked {
    background: gray;
    box-shadow: 0 0 5px 2px blue;
}
.gsm_registered_unknown {
    background: greenyellow;
    box-shadow: 0 0 5px 2px blue;
}
.gsm_registered_roaming {
    background: greenyellow;
    box-shadow: 0 0 5px 2px blue;
}

.sms_incoming {
    background: goldenrod;
    box-shadow: 0 0 5px 2px gold;
}
.sms_broadcast {
    background: orangered;
    box-shadow: 0 0 5px 2px gold;
}
.sms_delivered {
    background: greenyellow;
    box-shadow: 0 0 5px 2px gold;
}
.sms_unknown {
    background: orange;
    box-shadow: 0 0 5px 2px gold;
}

.sip_incoming {
    background: greenyellow;
    box-shadow: 0 0 5px 2px green;
}
.sip_invite {
    background: green;
    box-shadow: 0 0 5px 2px green;
}
.sip_early {
    background: green;
    box-shadow: 0 0 5px 2px green;
}
.sip_connecting {
    background: lightgreen;
    box-shadow: 0 0 5px 2px green;
}
.sip_confirmed {
    background: lightblue;
    box-shadow: 0 0 5px 2px green;
}
.sip_disconnected{
    background: lightslategray;
    box-shadow: 0 0 5px 2px green;
}
