.device {
    display: inline-block;
    width: 174px;
    /* border: solid 1px red; */
    margin: 1px;
    padding: 2px;
    background: white;
}
.address {
    display: block;
    border: none;
    background: none;
    /* width: 192px; */
    font-size: 12px;
}
.channels {
    display: block;
    /* width: 20px; */
    /* border: solid 1px lightblue; */
}
.channel {
    display: inline-block;
    font-size: 8px;
    /* border: solid 1px none; */
    width: 16px;
    height: 16px;
    margin: 1px;
    background: lightgray;
    border-radius: 50%;
    box-shadow: 2px 2px 0 0 none;
}